
<div *ngIf="!this.isMobile" class="card ml-1" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
    <div class="card-body">
      <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" id="wrapper">
        <div  id="google_map">
          <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;" #gmap></div>
        </div>
     
        <div id="over_map">
          <div *ngIf="this.dataService.pvAssignInProgress" class="row no-gutters" style="background-color: rgba(0,0,0,0.5);border-radius: 10px;">
            <p class="m-3" style="color: white;"> Now click on the Lab to assign <button class="btn btn-sm btn-outline-warning ml-2" (click)="this.dataService.pvAssignInProgress = false">Cancel</button></p>
        </div>
        </div>
     </div>
    </div>
</div>

<div *ngIf="this.isMobile">
      <div #gmap style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
</div>

<ng-template #optionTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Options</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="m-2">
        <button class="btn btn-primary" (click)="onAssignButtonClick()">Assign LAB</button>
        <button class="btn btn-primary ml-2">Move to</button>
      </div>
    </div>
  </ng-template>


  <ng-template #infoTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">info</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-information-panel ></app-information-panel>    
        <div *ngIf="this.dataService.labMachineInfo && (this.dataService.selectedLabMachine.PR1 != 0 || this.dataService.selectedLabMachine.PR2 != 0 || this.dataService.selectedLabMachine.DR1 != 0 || this.dataService.selectedLabMachine.DR2 != 0 || this.dataService.selectedLabMachine.SS != 0)" class="mt-2">
          <button (click)="assignLabToMe(this.dataService.selectedLabMachine)" class="m-1 btn btn-primary">Assign this LAB to me</button>
          <button class="m-1 btn btn-primary">Validation started</button>
          <button class="m-1 btn btn-primary">Validation ended</button>
        </div>
    </div>
  </ng-template>


  